blockquote.note  /* -------------------------------------------- A note block */
{
	width: 75%;
	font-family: sans-serif;
	font-size: 0.85rem;
	padding: .13in .13in .13in 1.13in;
	background-color: bisque;
}

blockquote.note>div.note-label  /* --------------------- The note block label */
{
	text-indent: -.63in;
	display: inline-block;  /* Correlates with blockquote.note padding. */
	font-weight: bold;
}