.url  /* ----------------------------------------------------- URL references */
{
	font-family: monospace;
	font-size: 0.9rem;
}

.path  /* --------------------------------------------------- Path references */
{
	font-family: monospace;
	font-size: 0.9rem;
}

.path-inline  /* ------------------------------- Path references in body text */
{
	font-family: monospace;
	color: rgb(0, 80, 0);
	background-color: rgb(227, 227, 255);
}

span.reference  /* --------------------------------------- General references */
{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 0.9rem;
}